[POSTGRESQL]

dsn = postgres://test:test@127.0.0.1:5432/btctest2
pool_threads = 40

[BITCOIND]

zeromq = tcp://159.8.41.195:8900
rpc = http://bitaps:processing@159.8.41.195:8332

[LOG]

log_level = debugI



