[POSTGRESQL]

dsn = dbname=btctest2,user=test,password=test,host=127.0.0.1
pool_threads = 40

[BITCOIND]

zeromq = tcp://159.8.41.195:8900
rpc = http://bitaps:processing@159.8.41.195:8332

[LOG]

log_level = debugI



